<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr>
            <table class="table table-responsive">
                <tr>
                    <th>Department Number</th>
                    <th>Department Name</th>
                </tr>
                {{#each arr}}
                    <tr>
                        <td>
                            <a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a>
                        </td>
                        <td>
                            <a href="/employees?department={{this.departmentId}}">{{this.departmentName}}</a>
                        </td>
                    </tr>
                {{else}}
                    <p>{{message}}</p>
                {{/each}}
            </table>
    </div>
</div>